node_modules
npm-debug.log
Dockerfile
.dockerignore
.git
.gitignore

#commented this for local deployment so that docker can automatically read .env file
#.env
.env.local
coverage
dist
build
logs
.vscode
.idea
